<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CompileFolder</key>
	<string>/Users/amberv/outbox</string>
	<key>MainWindowShowsFormatBar</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>466387CB-393E-47F3-A158-B24D41D6BC63</key>
		<dict>
			<key>BinderUUID</key>
			<string>466387CB-393E-47F3-A158-B24D41D6BC63</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>722 417 475 522 0 0 1920 1057 </string>
		</dict>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderIsCollapsed</key>
	<integer>0</integer>
	<key>binderSelection</key>
	<array>
		<integer>21</integer>
	</array>
	<key>binderSelectionMode</key>
	<integer>0</integer>
	<key>binderShowsLabelColors</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {323, 840}}</string>
		<string>{{324, 0}, {1179, 840}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>4A1D6B18-0952-42EB-A487-D17915DD3BA1</string>
		<string>D5397FD6-99DB-4FED-B7A9-9F985D9A9FE2</string>
		<string>CF7EF949-7860-45A6-969C-934E8B6127CC</string>
		<string>ED26C223-281D-4775-BCBE-7C8FD7F8E7B1</string>
		<string>601C18F4-15E4-4FDF-8036-F4A8F40298D0</string>
		<string>68F32305-EBE6-4072-B6C2-B8883B667EBC</string>
		<string>245C2ABD-E9C1-4091-B1B7-DA32402644E7</string>
		<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
		<string>6830B6AC-686B-4370-A979-2FD1D7288BDA</string>
		<string>57ECC98D-8199-4935-B5F1-D1F7A2D60646</string>
		<string>3E5B46A7-2D74-46C0-9C84-D3D1B9EB378E</string>
		<string>4D01D8EC-C1C3-427E-88C0-602D9158FC95</string>
		<string>4C4363AD-1F58-4140-A55F-DEE1298CA1C4</string>
		<string>69822417-D015-4BDD-90BD-18AAA6198D15</string>
		<string>669D7B65-8096-4EFD-A0E2-6BDE8C1E3585</string>
		<string>9A470BDE-CF2B-4872-97C6-74F19BC90197</string>
		<string>5C03DE09-C285-48ED-827F-78E62B7D0F72</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>05EC6521-CC0E-41EE-989E-95CCAE1739F8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0905DBF2-5FD1-4E95-AD00-AD2EA65975C9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0C8D8C20-97FA-47DA-9B98-E52E42D66215</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>28719D7D-54CA-4E77-85F7-0787C6738985</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>466387CB-393E-47F3-A158-B24D41D6BC63</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4B18A910-B4B5-4C06-8D35-991CE64630BD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5152075B-6574-4E02-B52C-1CAFC1C771DC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>54285682-6FA5-4B03-9D15-585687A7E298</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5C03DE09-C285-48ED-827F-78E62B7D0F72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5E7080D9-6D3C-4646-84EE-EA4F881D2A9D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6830B6AC-686B-4370-A979-2FD1D7288BDA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>69822417-D015-4BDD-90BD-18AAA6198D15</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6AEB2F07-6A23-42AD-B37E-A1846F08D856</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6DB22889-31DB-4716-A389-4AE257C9E2A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>74808623-6E7D-4308-BDD5-B94CA4756D1D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8172897F-937F-45B9-830A-BF64EE666787</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D4C06DC-6E4B-4D31-8BEC-46409635228F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E08E24D-BF74-462A-ABB6-4F8DD1A7F19D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A33BD1EB-EAFF-47C7-8213-36E9EDC30223</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B23E72D5-7B75-447A-BC7B-A1D659134A34</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CAAC4B65-BCC2-4097-AE64-CEAC2FD02BAC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CB0DD846-0343-4C39-8ECC-BC0886AAFE79</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D673BD83-2070-4AA0-A5FC-918965F21CFD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D8A050A6-EBA8-4E9C-9883-86270BC2BECE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E39A1D4B-7648-4387-A3FF-008A367A6C3A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E3F3341D-41A6-41BD-B55E-C1D9C80D3139</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EEA0AF19-7920-4DB2-9AAC-2D0A894E3C6B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F3E10252-0D25-4C09-9388-61964832DE52</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F71F88A3-B257-4A9B-9BFF-BD9B22062339</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F92A177B-0789-4D8B-BD99-905A734B4E37</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<integer>1</integer>
	<key>continuousSpellChecking</key>
	<true/>
	<key>corkboardCardNumbersRestartAtSections</key>
	<false/>
	<key>corkboardShowKeywordColors</key>
	<false/>
	<key>corkboardShowLabels</key>
	<true/>
	<key>corkboardShowStatusStamps</key>
	<false/>
	<key>corkboardsShowCardNumbers</key>
	<false/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{356, 0}, {355, 667}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScaleFactor</key>
		<real>1.25</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>grammarSpellChecking</key>
	<false/>
	<key>iconsShowLabels</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorGeneralPaneIsCollapsed</key>
	<false/>
	<key>inspectorIsCollapsed</key>
	<integer>0</integer>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {915, 810}}</string>
		<string>{{916, 0}, {263, 810}}</string>
	</array>
	<key>inspectorSynopsisIsCollapsed</key>
	<false/>
	<key>inspectorWidth</key>
	<real>201</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.PDFScale</key>
	<real>1</real>
	<key>mainDocumentEditor.affectsOtherEditor</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
	</array>
	<key>mainDocumentEditor.cardRatio</key>
	<integer>3</integer>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.cardsAcross</key>
	<integer>-1</integer>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.footerHidden</key>
	<integer>0</integer>
	<key>mainDocumentEditor.headerHidden</key>
	<integer>0</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>allKeywords</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>sectionType</string>
	</array>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.keywordChips</key>
	<integer>5</integer>
	<key>mainDocumentEditor.multipleSectionsMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E6BBAC10-E639-4E86-A784-EDEEE7DF0206</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CF054682-F876-4FD0-943C-9F3D176D9C73</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E70BD746-6246-498F-B10C-03C80CE8CD51</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D32A5A87-3E83-4029-A6FE-F44B8DB830DD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF6D6FCF-FEDF-4EAF-9345-4D915E15E6B5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6830B6AC-686B-4370-A979-2FD1D7288BDA</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E24F0A5-A56E-4BF8-BE91-B43079E44250</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>74808623-6E7D-4308-BDD5-B94CA4756D1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6830B6AC-686B-4370-A979-2FD1D7288BDA</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>54285682-6FA5-4B03-9D15-585687A7E298</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6830B6AC-686B-4370-A979-2FD1D7288BDA</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28719D7D-54CA-4E77-85F7-0787C6738985</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E24F0A5-A56E-4BF8-BE91-B43079E44250</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28719D7D-54CA-4E77-85F7-0787C6738985</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E24F0A5-A56E-4BF8-BE91-B43079E44250</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28719D7D-54CA-4E77-85F7-0787C6738985</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E24F0A5-A56E-4BF8-BE91-B43079E44250</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28719D7D-54CA-4E77-85F7-0787C6738985</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>69822417-D015-4BDD-90BD-18AAA6198D15</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28719D7D-54CA-4E77-85F7-0787C6738985</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6830B6AC-686B-4370-A979-2FD1D7288BDA</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>05EC6521-CC0E-41EE-989E-95CCAE1739F8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>69822417-D015-4BDD-90BD-18AAA6198D15</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0C8D8C20-97FA-47DA-9B98-E52E42D66215</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8172897F-937F-45B9-830A-BF64EE666787</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0C8D8C20-97FA-47DA-9B98-E52E42D66215</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28719D7D-54CA-4E77-85F7-0787C6738985</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0C8D8C20-97FA-47DA-9B98-E52E42D66215</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EDD31465-3AAA-4B1A-868C-3046E253E2B6</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D2BE03DE-E6C7-4110-8DF2-994A170876A6</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CF7EF949-7860-45A6-969C-934E8B6127CC</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0C8D8C20-97FA-47DA-9B98-E52E42D66215</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D2BE03DE-E6C7-4110-8DF2-994A170876A6</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0C8D8C20-97FA-47DA-9B98-E52E42D66215</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28719D7D-54CA-4E77-85F7-0787C6738985</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>54285682-6FA5-4B03-9D15-585687A7E298</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28719D7D-54CA-4E77-85F7-0787C6738985</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0C8D8C20-97FA-47DA-9B98-E52E42D66215</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D3A36AB9-9757-4BA2-9426-AF8947241454</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D5397FD6-99DB-4FED-B7A9-9F985D9A9FE2</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D58DAE28-0B13-479A-93F2-C78125F639BB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ED26C223-281D-4775-BCBE-7C8FD7F8E7B1</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D5397FD6-99DB-4FED-B7A9-9F985D9A9FE2</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EDD31465-3AAA-4B1A-868C-3046E253E2B6</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BB28D8BA-A8ED-4B4A-BB2B-127724EB76E0</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AB87407C-9EFE-4137-BF7A-4066BE48633F</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0C8D8C20-97FA-47DA-9B98-E52E42D66215</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E24F0A5-A56E-4BF8-BE91-B43079E44250</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>74808623-6E7D-4308-BDD5-B94CA4756D1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>54285682-6FA5-4B03-9D15-585687A7E298</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28719D7D-54CA-4E77-85F7-0787C6738985</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>05EC6521-CC0E-41EE-989E-95CCAE1739F8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0C8D8C20-97FA-47DA-9B98-E52E42D66215</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ED26C223-281D-4775-BCBE-7C8FD7F8E7B1</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AB87407C-9EFE-4137-BF7A-4066BE48633F</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ED26C223-281D-4775-BCBE-7C8FD7F8E7B1</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C9D92B2B-FC05-4CE9-A309-676038758CE2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>68F32305-EBE6-4072-B6C2-B8883B667EBC</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0C8D8C20-97FA-47DA-9B98-E52E42D66215</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>68F32305-EBE6-4072-B6C2-B8883B667EBC</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>245C2ABD-E9C1-4091-B1B7-DA32402644E7</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CF7EF949-7860-45A6-969C-934E8B6127CC</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ED26C223-281D-4775-BCBE-7C8FD7F8E7B1</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>601C18F4-15E4-4FDF-8036-F4A8F40298D0</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D5397FD6-99DB-4FED-B7A9-9F985D9A9FE2</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>601C18F4-15E4-4FDF-8036-F4A8F40298D0</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ED26C223-281D-4775-BCBE-7C8FD7F8E7B1</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>601C18F4-15E4-4FDF-8036-F4A8F40298D0</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ED26C223-281D-4775-BCBE-7C8FD7F8E7B1</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>601C18F4-15E4-4FDF-8036-F4A8F40298D0</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ED26C223-281D-4775-BCBE-7C8FD7F8E7B1</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>601C18F4-15E4-4FDF-8036-F4A8F40298D0</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D11483F1-C4C3-4331-93FC-10FF72D62DA0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>69822417-D015-4BDD-90BD-18AAA6198D15</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0587F4D0-7D4E-4AFD-9290-B912D55CDE43</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6830B6AC-686B-4370-A979-2FD1D7288BDA</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8C0E50E3-F30B-4CDC-95F8-910B393DDDEB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6830B6AC-686B-4370-A979-2FD1D7288BDA</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F3E10252-0D25-4C09-9388-61964832DE52</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>893E7708-7FAE-459E-A1A7-E9C5519FC87E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>57ECC98D-8199-4935-B5F1-D1F7A2D60646</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F3E10252-0D25-4C09-9388-61964832DE52</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3E198CBB-4FDF-4F2F-943E-4E1D991D8EE0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5C1B07D5-F60D-41F6-8354-ABF714677346</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3E198CBB-4FDF-4F2F-943E-4E1D991D8EE0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8C0E50E3-F30B-4CDC-95F8-910B393DDDEB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C6DBAB6F-A501-480A-972B-F440CB2C71F7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5BEEF727-A02A-409C-B2D7-C23C7070EB95</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D11483F1-C4C3-4331-93FC-10FF72D62DA0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>09BC20F2-DDE8-4E46-B50A-45EFDC7F833C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>label</key>
			<real>85</real>
			<key>status</key>
			<real>85</real>
			<key>title</key>
			<real>275</real>
			<key>totalProgress</key>
			<real>84</real>
			<key>totalTargetCount</key>
			<real>84</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>mainDocumentEditor.outlinerHidesIcons</key>
	<false/>
	<key>mainDocumentEditor.outlinerShowsTitlesOnly</key>
	<false/>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 3596}, {620, 603.19999999999982}}</string>
	<key>mainDocumentEditor.selectedItemIDs</key>
	<array>
		<integer>45</integer>
	</array>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.sizeToFit</key>
	<true/>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScaleFactor</key>
		<real>1.25</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainDocumentView</key>
	<string>mainDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>27 153 1503 888 0 0 1920 1057 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>referencesNotesMode</key>
	<integer>0</integer>
	<key>revisionMode</key>
	<integer>0</integer>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>228</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showEditScriveningsTitles</key>
	<false/>
	<key>showInvisibles</key>
	<false/>
	<key>showsBinderSubdocumentNumbering</key>
	<false/>
	<key>showsFootnoteNumberingPrompt</key>
	<false/>
	<key>showsInspectorFootnoteNumbering</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.affectsOtherEditor</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.cardRatio</key>
	<integer>3</integer>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.cardsAcross</key>
	<integer>-1</integer>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.footerHidden</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.headerHidden</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>allKeywords</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>sectionType</string>
	</array>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.keywordChips</key>
	<integer>5</integer>
	<key>supportingDocumentEditor.multipleSectionsMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>label</key>
			<real>85</real>
			<key>status</key>
			<real>85</real>
			<key>title</key>
			<real>275</real>
			<key>totalProgress</key>
			<real>84</real>
			<key>totalTargetCount</key>
			<real>84</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>supportingDocumentEditor.outlinerHidesIcons</key>
	<false/>
	<key>supportingDocumentEditor.outlinerShowsTitlesOnly</key>
	<false/>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>supportingDocumentEditor.sizeToFit</key>
	<true/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
	<key>tintIndexCardsWithLabelColor</key>
	<false/>
	<key>tintOutlinerRowsWithLabelColor</key>
	<false/>
</dict>
</plist>
