<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CompileFolder</key>
	<string>/Users/amberv/outbox</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {326, 776}}</string>
		<string>{{327, 0}, {872, 776}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>4A1D6B18-0952-42EB-A487-D17915DD3BA1</string>
		<string>0361E2D1-033E-4D45-82A4-565F53D27F4C</string>
		<string>FD75AC3C-F304-4EA6-ADCC-2C32D6589969</string>
		<string>0989A3A7-001D-4F4B-A664-9DD29B3B4D9B</string>
		<string>7C691629-31E1-488F-A24E-2C9F4A60C72A</string>
		<string>CCB308DA-B28A-479C-A67B-CF6B55DB674E</string>
		<string>669D7B65-8096-4EFD-A0E2-6BDE8C1E3585</string>
		<string>9A470BDE-CF2B-4872-97C6-74F19BC90197</string>
	</array>
	<key>bookmarksNotesMode</key>
	<integer>0</integer>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>17D8FF0A-4EB2-4BAD-AC1A-69A1AD0998A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>21506607-96CA-4FB1-8B5F-A1859F4DCEDE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>25268073-2BEA-4F12-AE8E-0539108F9E7A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>474E808E-5941-4113-A5B8-A9BD990D340B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>486D874A-7589-4C1E-BECE-40B465746BA1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4C4363AD-1F58-4140-A55F-DEE1298CA1C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5C03DE09-C285-48ED-827F-78E62B7D0F72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>684ADA52-4D45-48D2-B03D-5ECB784963EE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68F32305-EBE6-4072-B6C2-B8883B667EBC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>874592F5-2256-46A1-8434-432743846FB8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>87D59B4E-F1D6-4025-9FBA-33F60ED8F985</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98EA5CEF-B7B1-468C-83CD-9AB24AFAFDF3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A28A84B-9257-40BC-B519-AFE9BB6157A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A470BDE-CF2B-4872-97C6-74F19BC90197</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1B9A9A3-7E3C-41BC-A6F1-A815BABFC206</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7BDE57C-9C5A-4101-9BC2-8A2F0545998B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE60DBF6-E695-4C23-987C-5D237D8F48C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE948F87-BDA3-4551-8E08-AC248FE89301</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C88ACCC3-4FDB-4952-80E1-177623CDE141</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D5397FD6-99DB-4FED-B7A9-9F985D9A9FE2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAED9F93-2779-4184-82E8-30D27307C6AC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F8F9FDEF-FD9F-4A8C-B33D-3434A1220ADC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>DocID</key>
			<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{356, 0}, {355, 667}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {608, 746}}</string>
		<string>{{609, 0}, {263, 746}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>263</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.PDFScale</key>
	<real>1</real>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>F8F9FDEF-FD9F-4A8C-B33D-3434A1220ADC</string>
	</array>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {568.79999999999995, 552}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>517 136 1199 798 0 0 1920 1057 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>228</real>
		</dict>
	</dict>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
